<li class="tree">
  <div id="<%= channel_data[:beehive_view_id] %>_cugs">
    <ul>
      <li id ="core_or_all_node">
        <div class="cug_icon view_icon" id="cug_block_<%=channel_data[:beehive_view_id]%>" channels_count ="<%=channel_data[:channels].size%>" view_type ="<%=channel_data[:beehive_view_id]%>"></div>
        <%= link_to "#{channel_data[:beehive_view_name]} (#{channel_data[:channels].size})", "javascript://",:type => params[:type], :path => get_cug_view_cugs_path(:cug_view_type => channel_data[:beehive_view_id]), :class => "cug_group_view heading"%>
        <div class="clear"></div>
        <div id="cug_block_<%=channel_data[:beehive_view_id]%>_data" class="channel_names_block">
          <%= render :partial=> 'cugs', :locals => {:cugs => channel_data[:channels], :cug_type => channel_data[:beehive_view_id],:keyword=>channel_data[:keyword]}  %>
        </div>
      </li>
    </ul>
  </div>
</li>
<script type="text/javascript">
  $(function () {
    $("#<%= channel_data[:beehive_view_id] %>_scrollbar").mCustomScrollbar({
      advanced:{
        updateOnBrowserResize:true,
        updateOnContentResize:true
      }
    });
    update_scroll_by_keyword_arrows("#<%= channel_data[:beehive_view_id] %>_scrollbar");
    tooltip_active();
<% if params[:cug_view_type].present? %>
      $('#cug_view_type option[value=<%= @beehive_view.ancestry.blank? ? @beehive_view.id : @beehive_view.ancestry%>]').attr('selected', 'selected');
<% end %>
  });
</script>