<h1>Change your password</h1>
<% msg = []
flash.now[:error] = resource.errors.full_messages.each{|e| msg << "#{e}" unless msg.include?(e)} %>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :onSubmit => "return confirm_password_validation();"}) do |f| %>
  <span id="msg" style="display: none;"><%= show_flash_message %></span>
  <%= f.hidden_field :reset_password_token %>
  <ul>
    <li class="fld">
      <%= f.password_field :password, :id => 'reset_user_password', :class => "txt_fld", :placeholder => 'new password' %>
    </li>
    <li class="fld">
      <%= f.password_field :confirmation_password, :class => "txt_fld", :placeholder => 'confirm new password' %>
    </li>
    <div class="login_button"> <%= submit_tag "Change my password" %></div>
  </ul>
<% end %>




