<ul class="buzzers">
  <li class="insync_effect">
    <div id="text-fx">
      <div id="insync_effect_<%= buzz.id %>" class="insync_effect_div">
        You are Insync till this buzz!
      </div>
    </div>
  </li>
  <li class="more more_buzz_actions_link" buzzid = "<%= buzz.id %>">< more</li>
  <li class="more_buzz_icons" id="more_buzz_icons_<%= buzz.id %>">
    <ul>
      <%= remove_buzz_link(buzz) %>
      <%= buzz_flag_link(buzz,current_user) %>
      <%= buzz_tag_link(buzz) %>
      <%= buzz_name_link(buzz, buzz_name)%>
      <%= limit_buzz_link(buzz) %>
    </ul>
  </li>
  <%= response_expected_link(buzz) %>
  <%= priorty_buzz_link(buzz) %>
  <%= buzz_dozz_link(buzz) %>
  <%= create_and_view_rezz_link(buzz) %>
  <% unless (local_assigns.has_key? :from_rezz) %>
    <%= buzz_insync_link(buzz, last_insync_id) %>
  <% end %>
</ul>
